.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1c;
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  background-color: #222;
  border-radius: 10px;
  color: white;
  min-width: 150px;
}

.label {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.tableContainer {
  width: 100%;
  max-width: 800px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px 15px;
  color: white;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.table th {
  background-color: #222;
}

.table td {
  background-color: #333;
}

.row {
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.row:hover {
  background-color: #2a2a2a;
}

.selectedRow {
  border: 2px solid #f4900c;
  /* Highlight selected row with an orange border */
  background-color: #2a2a2a;
}

.providerName {
  color: #f4900c;
  text-decoration: none;
  font-weight: bold;
}

.providerName:hover {
  text-decoration: underline;
}


.accountList {
  list-style: none;
  padding: 0;
  margin: 28px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accountItem {
  padding: 15px;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.accountItem:hover {
  background-color: #444;
}

.selected {
  border: 2px solid #f4900c;
  /* Highlight selected account with an orange border */
  background-color: #2a2a2a;
}